

body{
    height: 100vh;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}

.header{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 120px;
    padding-right:120px;
    padding-bottom: 48px;
    padding-top: 8px;
    
}

.upper-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8
}

.links{
    text-decoration: none;
    color: rgb(200, 200, 200)

}

.lower-header{
    display:flex;
    justify-content:space-between;
}

.left-lower-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
}

p {
    margin:0px;
}

.header-headline{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    width: 100px;
}

.headerbutton{
    align-self: flex-start;
    padding-top: 8px;
}

.right-lower-header{
    align-self: center;
}






.center{
    display: flex;
    justify-content: center;
    
}

.center-information{
    display:flex;
    flex-direction: column;
}

.center-headline{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: center;
}

.center-container{
    padding: 25px;

}

.center-content{
    display:flex;
    justify-content: center;
    gap:36spx;
}

.center-cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.center-image{
    display:flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.center-image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border: 2px solid blue;
    border-radius: 15px;

}




.quote{
    display:flex;
    justify-content: center;

}

.citation{
    align-self: flex-end
}


.call-to-action{
    display:flex;
    justify-content: center;
}

.right-call{
    align-self: center;
}

ul {
    display:flex;
    list-style-type: none;
    gap: 16px;
}

